.WarningFav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 30rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color: #1a1717;
}

.container-sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .container-sort select {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .container-sort select:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
  }
  
  .container-sort select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }